/********** Base styles **********/
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

section {
  border:3px solid #000000;
}

h3 {
  text-align: center;
  width: 150px;
  padding:5px;
  border:1px solid #000000;
  background-color:#F5B7B1;
  float: right;
  clear:right;
  font-family: Helvetica;
}

.beef-title {
  color: #ffffff;
  background-color: #E74C3C;
}

.sushi-title {
  background-color:#F9E79F;
}

p {
  height: auto;
  padding:10px;
  font-family: Helvetica;
  clear:right;
}



/********** Desktop devices only **********/
@media (min-width: 992px) {
  .col-lg-3 {
    float: left;
  }
  .col-lg-3 {
    float: left;
    width: 32.3%;
  }

  .chicken-card, .beef-card {
    margin-right: 1.5%;
  }
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 49%;
  }
  .col-md-12 {
    width: 100%;
    margin-top: 20px;
  }
  .chicken-card {
    margin-right:2%;
  }
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width:100%;
    margin-top: 20px;
  }
}
